{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>A Word-Hoard Unlocked</title>
	<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|UnifrakturCook:700|UnifrakturMaguntia&display=swap" rel="stylesheet">
	
	<link rel='stylesheet' href='{% static "WordHoard/css/stylesheet.css" %}'>
</head>
<body>

	<div id='app'>
		<h1 id='title'>${ message }</h1>
		<div>
			{# <label for='authors'>Author:</label> #}
			<select v-model='author' id='authorsList'>
				{# <input list='authors' v-model='author'> #}
				{# <datalist id='authors'> #}
				<option disabled>Select an Author(s)</option>
				<option v-for='author in authors' v-bind:value='author.value'>${ author.first_name +' '+author.last_name }</option>
				{# </datalist> #}
			</select>
		</div>
		<div>
			<input type='text' 
					id='search_field'
					size='100' 
					placeholder="Enter a word to search for..." 
					v-model:value='word'
					>

			<button type='button' id='search'
				v-on:click="searchWords">
				Search
			</button>
		</div>
		<div id='search_container'>
			<div>
				<h2> ${ searchDisplay['word'] }</h2>
			</div>
			<div>
				<li v-for='item in searchDisplay.sentences' id='search_results'>
					${ item }
				</li>
			</div>
			<div>
				<h2> ${ searchDisplay['count']}</h2>
			</div>
		</div>
	</div>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src='{% static "WordHoard/js/script.js" %}'></script>
</body>
</html>