html, body {
	width: 100%;
	margin: 0;
}

#banner{
	background-color: #626b80;
	/*#546e7a;*/
	/*#3b465e;*/
	/*#545875;*/
	/*#464a6b;*/
	/*#5077A7;*/
	height: 200px;
	width: 100%;

}

#searchNav{
	background-color: #545875;
	width: 100%;

}

#title{
	/*color: #5077A7;*/
	color: #FCFCFD;
	text-align: center;
	/*font-family: 'Playfair Display', serif;
	font-family: 'Libre Baskerville', serif;*/
	/*font-family: 'EB Garamond', serif;*/
	/*font-family: 'Old Standard TT', serif;*/
	font-family: 'Tangerine', cursive;
	font-size: 75px;
	padding-top: 1em;
	font-weight:500;
	text-shadow: 2px 0px 0px black;

}

.multiselect {
	width:90%;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 25px;
	/*position: relative;*/

}

#selectItems{
	background-color: #ebebe0;
	margin-right: 0
	/*#e6f2ff;*/
}

#searchBy{
	border-radius:;
	width: 150px;
	

}

.displaySearch{
	font-family: 'Playfair Display', Helvetica;
	margin-top: 5em;
}

.red{
	font-weight: bold;
	font-size: 20px
}

#homeSearch{
	margin-top: 9em;
	width: 50%;
	border-radius: 5000px 0 0 5000px;
	
}

#searchButton{
	border-radius: 0 5000px 5000px 0;
	
}

#search_container{
	min-height: 100px;
}

#simpleSearchBar{
	max-height:60px;
	background-color: #ebebe0;
}

#resultsSearch{
	width: 50%;
	margin-top: 10px;
}

#button-addon2{
	background-color: #FCFCFD;
}

#stick-footer{
	background-color: #263238;
}

[v-cloak] {
	display: none;
}

html {
    visibility: visible;
    opacity: 1;
}


